name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
    CI_XCODE: '/Applications/Xcode_16.1.app/Contents/Developer'

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
  test:
    runs-on: macos-15
    strategy:
      matrix:
        destination: ['-destination platform\=iOS\ Simulator,OS=18.1,name\=iPhone\ 16\ Pro\ Max test', 'CODE_SIGNING_ALLOWED="NO"']
        scheme: ['OCKSample', 'OCKWatchSample']
        exclude:
        - destination: '-destination platform\=iOS\ Simulator,OS=18.1,name\=iPhone\ 16\ Pro\ Max test'
          scheme: 'OCKWatchSample'
        - destination: 'CODE_SIGNING_ALLOWED="NO"'
          scheme: 'OCKSample'
    steps:
    - uses: actions/checkout@v4
    - name: Install SwiftLint
      run: brew install swiftlint
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild -project OCKSample.xcodeproj -scheme ${{ matrix.scheme }} ${{ matrix.destination }} | xcpretty
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)
